* {
    border:0;
    margin: 0;
}

body {
	min-height: 100vh;
	background: linear-gradient(45deg, hsla(340, 100%, 55%, 1) 0%, hsla(340, 100%, 55%, 0) 70%), linear-gradient(135deg, hsla(225, 95%, 50%, 1) 10%, hsla(225, 95%, 50%, 0) 80%), linear-gradient(225deg, hsla(140, 90%, 50%, 1) 10%, hsla(140, 90%, 50%, 0) 80%), linear-gradient(315deg, hsla(35, 95%, 55%, 1) 100%, hsla(35, 95%, 55%, 0) 70%);
}

.appFrame {
height: 560px;
max-height: 650px;
width: 450px;
max-width:500px;
margin: 0 auto;
margin-top: 10px;
border-radius: 10px;
}

.display {
	height: 100px;
	width: 90%;
	margin: auto;
    margin-top: 10px;
	background-color: #33434C;
	color: #EF3E46;
	text-align: right;
}

.buttonB {
	width: 90%;
	margin: auto;
	height: 491px;
	background-color: #0C1F2E
}

h1 {
    text-align: center;
	margin-top: 15px;
	color: #0C1F2E;
}

.operator {
	color: #F74458;
}

.content {
	display:inline-block;
}

.content {
	display: inline-block;
	color: #CA3E48;
	text-align: right;
	padding: 2px;
	margin-top: 34px;
}

button {
	width: 91px;
	height: 91px;
	margin:3px;
	background-color: #0C1F2E;
    color: #098A8C;
}

/* this is for the display section*/
element {
	float: right;
	margin-top: 65px;
	margin-right: 5px;
	color: #F74458;
}

.specialBtns button {
 color: #F74458;
}

#special {
	width: 300px;
}